<div>
  <div class="form-group">
    <%= f.label :quarter, "Quarter" %>
    <%= f.select :year, Array.new(20){ |i| Time.now.year + i }, { selected: f.object.year }, required: true, class: "form-control" %>
    <%= f.select :quarter, [['Q1'], ['Q2'], ['Q3'], ['Q4']], { selected: f.object.quarter }, required: true , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :section %>
    <%= f.select :section, Section.all.map{|section| [section.name, section.name]}, { selected: f.object.section }, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :Objective %>
    <%= f.text_field :objective, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Objective_reason %>
    <%= f.text_area :objective_reason, class: "form-control" %>
  </div>

  <%= f.fields_for :key_results do |key_result| %>
    <%= render 'key_result_fields', f: key_result %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "KR追加", f, :key_results, class: "btn-sm btn-outline-info" %>
  </div>

  <div class="flex flex-col mt-8">
    <%= f.submit "登録", class: "btn btn-info" %>
  </div>
</div>
