<div class="">
  <div class="">
    <%= f.label :quarter, "Quarter" %>
    <%= f.select :year, Array.new(20){ |i| Time.now.year + i }, { selected: f.object.year }, required: true %>
    <%= f.select :quarter, [['Q1'], ['Q2'], ['Q3'], ['Q4']], { selected: f.object.quarter }, required: true %>
  </div>

  <div class="flex flex-col mt-4">
    <%= f.label :section %>
    <%= f.select :section, Section.all.map{|section| [section.name, section.name]}, { selected: f.object.section }, class: 'form-control', required: true %>
  </div>

  <div class="flex flex-col mt-4">
    <%= f.label :Objective %>
    <%= f.text_field :objective, class: "" %>
  </div>

  <div class="flex flex-col mt-4">
    <%= f.label :Objective_reason %>
    <%= f.text_field :objective_reason, class: "" %>
  </div>

  <%= f.fields_for :key_results do |key_result| %>
    <%= render 'key_result_fields', f: key_result %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "KR追加", f, :key_results, class: "btn-sm btn-info" %>
  </div>

  <div class="flex flex-col mt-8">
    <%= f.submit "登録", class: "" %>
  </div>
</div>
