<div class="nested-fields">
  <div class="flex flex-col mt-4">
    <%= f.label :title %>
    <%= f.text_field :title, class: "flex-grow h-8 px-2 rounded border border-grey-400" %>
  </div>

  <div class="flex flex-col mt-4">
    <%= f.label :point %>
    <%= f.number_field :point, step: "0.1", class: "flex-grow h-8 px-2 rounded border border-grey-400" %>
  </div>

  <%= link_to_remove_association "削除", f %>
</div>
