<% provide(:title, 'Personal OKR') %>

<h2>個人 OKR</h2>

<div class="form-group">
  <div class="register">
    <%= link_to '新規登録', new_personal_okr_path, class: "btn btn-info" %>
  </div>
  <%= form_tag personal_okrs_path, method: :get, class: "search-form" do %>
    <%= select_tag 'year', options_for_select(PersonalOkr.order(:year).pluck(:year).uniq, selected: @personal_okrs.pluck(:year).uniq) %>
    <%= select_tag 'quarter', options_for_select(PersonalOkr.order(:quarter).pluck(:quarter).uniq, selected: @personal_okrs.pluck(:quarter).uniq) %>
    <%= submit_tag "検索", class: "btn-sm btn-link" %>
  <% end %>
</div>
<div class='text-nowrap table-responsive'>
  <table class='table table-fixed'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <span></span>
        </th>
        <th scope="col">
          <span>Name</span>
        </th>
        <th scope="col">
          <span>Quarter</span>
        </th>
        <th scope="col">
          <span>Section</span>
        </th>
        <th scope="col">
          <span>Objective</span>
        </th>
        <th scope="col">
          <span>Objective 設定理由</span>
        </th>
        <th scope="col">
          <span>総合得点</span>
        </th>
        <th scope="col">
          <span>Point</span>
        </th>
        <th scope="col">
          <span>KeyResult</span>
        </th>
        <% select_months(@personal_okrs.pluck(:quarter)[0]).each do |month| %>
          <th scope="col">
            <span><%= month[0] %></span>
          </th>
        <% end %>
        <th scope="col">
          <span>操作一覧</span>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @personal_okrs.each do |personal_okr| %>
      <tr>
        <td class="align-middle">
          <img src=<%= personal_okr.user.image %> class = "icon_image">
        </td>
        <td class="align-middle">
          <%= personal_okr.user.name %>
        </td>
        <td class="align-middle">
          <%= personal_okr.year %>/<%= personal_okr.quarter %>
        </td>
        <td class="align-middle">
          <%= personal_okr.section %>
        </td>
        <td class="align-middle">
          <%= personal_okr.objective %>
        </td>
        <td class="align-middle">
          <%= personal_okr.objective_reason %>
        </td>
        <td class="align-middle">
          <%= average_score_point(personal_okr.key_results) %>
        </td>
        <td>
        <ul class="list-group list-group-flush">
          <% personal_okr.key_results.each do |key_result| %>
            <li class="list-group-item"><%= key_result.point %></li>
          <% end %>
        </ul>
        </td>
        <td>
        <ul class="list-group list-group-flush">
          <% personal_okr.key_results.each do |key_result| %>
              <li class="list-group-item"><%= key_result.title %></li>
          <% end %>
        </ul>
        </td>
        <% select_months(@personal_okrs.pluck(:quarter)[0]).each do |month| %>
          <td>
          <ul class="list-group list-group-flush">
            <% personal_okr.key_results.each do |key_result| %>
              <% key_results_comment = KeyResultComment.find_by(month: month[0], key_result_id: key_result.id) %>
              <li class="list-group-item"><%= key_results_comment ?  key_results_comment.comment : "-" %></li>
            <% end %>
          </ul>
          </td>
        <% end %>
        <td>
          <div>
            <%= link_to 'コメント', key_results_path(okr_type: 'PersonalOkr', okr_id: personal_okr.id), class: "btn btn-secondary" %>
          </div>
          <% if current_user.admin? || current_user?(personal_okr.user) %>
            <div>
              <%= link_to '編集', edit_personal_okr_path(personal_okr.id), class: "btn btn-success" %>
            </div>
            <div>
              <%= link_to '削除', personal_okr_path(personal_okr.id), method: :delete, class: "btn btn-danger", data: { confirm: '削除してよろしいですか？' } %>
            </div>
          <% end %>
          </td>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
