<% provide(:title, 'Personal OKR') %>

<div>
  <div class="flex">
    <%= link_to '新規登録', new_personal_okr_path %>
  </div>

    <% @personal_okrs.each do |personal_okr| %>
      <p class="font-semibold"><%= personal_okr.section %></p>
      <p class="font-semibold"><%= personal_okr.objective %></p>

      <ul>
        <% personal_okr.key_results.each do |key_result| %>
          <li><%= key_result.title %></li>
          <li><%= key_result.point %></li>
        <% end %>
      </ul>

      <div>
        <%= link_to '編集', edit_personal_okr_path(personal_okr.id),  class: '' %>
      </div>
      <div>
        <%= link_to '削除', personal_okr_path(personal_okr.id), method: :delete, class: '', data: { confirm: '削除してよろしいですか？' } %>
      </div>
    <% end %>
</div>
