<div>
  <h3><%= @section_okrs[0].year %> : <%= @section_okrs[0].quarter %></h3>
  <% @section_okrs.each do |section_okr| %>
    <ul>
      <li><%= section_okr.section %> : <%= section_okr.objective %></li>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :section_okr_id, "Section" %>
    <%= f.select :section_okr_id, @section_okrs.all.map{|section_okr| [section_okr.section, section_okr.id]}, { selected: f.object.section_okr_id }, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "登録", class: "btn btn-info" %>
  </div>
</div>
