<div class="nested-fields">
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :point %>
    <%= f.number_field :point, step: "0.1" %>
  </div>

  <%= link_to_remove_association "削除", f %>
</div>
