<% provide(:title, 'Section OKR') %>

<div class="flex">
  <%= link_to 'SectionOkr登録', new_section_okr_path %>
  <%= link_to '投票一覧', section_okr_votes_path(quarter: params[:quarter], year: params[:year]) %>
  <%= link_to '投票登録', new_section_okr_vote_path(quarter: params[:quarter], year: params[:year]) %>
  <%= form_tag section_okrs_path, method: :get, class: "flex" do %>
    <%= select_tag 'year', options_for_select(SectionOkr.order(:year).pluck(:year).uniq, selected: @section_okrs.pluck(:year).uniq) %>
    <%= select_tag 'quarter', options_for_select(SectionOkr.order(:quarter).pluck(:quarter).uniq, selected: @section_okrs.pluck(:quarter).uniq) %>
    <%= submit_tag "検索" %>
  <% end %>
</div>
<h1>Section OKR</h1>
<div class='text-nowrap table-responsive'>
  <table class='table table-hover table-fixed'>
      <thead class="thead-dark">
        <tr>
          <th scope="col">
            <span>Section</span>
          </th>
          <th scope="col">
            <span>Objective</span>
          </th>
          <th scope="col">
            <span>総合得点</span>
          </th>
          <th scope="col">
            <span>Point</span>
          </th>
          <th scope="col">
            <span>KeyResult</span>
          </th>
          <% select_months(@section_okrs.pluck(:quarter)[0]).each do |month| %>
            <th scope="col">
              <span><%= month[0] %></span>
            </th>
          <% end %>
          <th scope="col">
            <span>操作一覧</span>
          </th>
        </tr>
      </thead>
      <tbody>
      <% @section_okrs.each do |section_okr| %>
        <tr>
          <td>
            <%= section_okr.section %>
          </td>
          <td>
            <%= section_okr.objective %>
          </td>
          <td>
            <%= average_score_point(section_okr.key_results) %>
          </td>
          <td>
            <% section_okr.key_results.each do |key_result| %>
              <li><%= key_result.point %><hr></li>
            <% end %>
          </td>
          <td>
          <ul>
            <% section_okr.key_results.each do |key_result| %>
                <li><%= key_result.title %><hr></li>
            <% end %>
          </ul>
          </td>
          <% select_months(@section_okrs.pluck(:quarter)[0]).each do |month| %>
            <td>
            <% section_okr.key_results.each do |key_result| %>
              <% key_results_comment = KeyResultComment.find_by(month: month[0], key_result_id: key_result.id) %>
              <li><%= key_results_comment ?  key_results_comment.comment : "" %><hr></li>
            <% end %>
            </td>
          <% end %>
          <td>
            <div>
              <%= link_to 'コメント', key_results_path(okr_type: 'SectionOkr', okr_id: section_okr.id) %>
            </div>
            <div>
              <%= link_to '編集', edit_section_okr_path(section_okr.id),  class: '' %>
            </div>
            <div>
              <%= link_to '削除', section_okr_path(section_okr.id), method: :delete, class: '', data: { confirm: '削除してよろしいですか？' } %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
