<% provide(:title, 'Section OKR') %>

<div class="flex">
  <%= link_to '新規登録', new_section_okr_path %>
  <%= form_tag section_okrs_path, method: :get, class: "flex" do %>
    <%= select_tag 'year', options_for_select(SectionOkr.order(:year).pluck(:year).uniq, selected: @section_okrs.pluck(:year).uniq) %>
    <%= select_tag 'quarter', options_for_select(SectionOkr.order(:quarter).pluck(:quarter).uniq, selected: @section_okrs.pluck(:quarter).uniq) %>
    <%= submit_tag "検索" %>
  <% end %>
</div>
<h1>Section OKR</h1>
<div class="">
  <table class="table table-responsive" style="white-space: nowrap">
      <thead>
        <tr class="">
          <th scope="col">
            <span class="">Section</span>
          </th>
          <th scope="col">
            <span class="">Objective</span>
          </th>
          <th scope="col">
            <span class="">Point</span>
          </th>
          <th scope="col">
            <span class="">KeyResult</span>
          </th>
          <th scope="col">
            <span class="">コメント</span>
          </th>
          <th scope="col">
            <span class="">操作一覧</span>
          </th>
        </tr>
      </thead>
      <tbody>
      <% @section_okrs.each do |section_okr| %>
        <tr>
          <td>
            <%= section_okr.section.name %>
          </td>
          <td>
            <%= section_okr.objective %>
          </td>
          <td>
          <% section_okr.key_results.each do |key_result| %>
            <p><%= key_result.point %></p>
          <% end %>
          </td>
          <td>
          <ul>
            <% section_okr.key_results.each do |key_result| %>
                <li><%= key_result.title %><hr></li>
            <% end %>
          </ul>
          </td>
          <td>
          <% section_okr.key_results.each do |key_result| %>
            <% if key_result.key_result_comments.present? %>
              <% key_result.key_result_comments.each do |key_result_comment| %>
                <%= key_result_comment.month %>
                <%= key_result_comment.comment %>
              <% end %>
            <% end %>
          <% end %>
          </td>
          <td>
            <div>
              <%= link_to '編集', edit_section_okr_path(section_okr.id),  class: '' %>
            </div>
            <div>
              <%= link_to '削除', section_okr_path(section_okr.id), method: :delete, class: '', data: { confirm: '削除してよろしいですか？' } %>
            </div>
            </td>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
