<nav>
  <div>
    <div>
      <div>
        <%= link_to 'OKR Intern', root_path %>
      </div>
    </div>

    <div>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'ユーザー情報', root_path %>
          <%= link_to 'セクションOKR', section_okrs_path %>
          <%= link_to '個人OKR', personal_okrs_path, class: "" %>
          <% if current_user.admin? %>
            <%= link_to 'セクション名', sections_path %>
          <% end %>
          <%= link_to '投票', section_okr_votes_path %>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
