<!DOCTYPE html>
<html>
  <head>
    <title>OkrInternV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <header>
    <%= render "layouts/header" %>
  </header>

  <body>

  <% if notice %>
      <div class="">
        <div class="">
          <div class="">
            <p class="text-base">
              <% notice.split("\n").each do |message| %>
                <%= message %><br>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="">
        <div class="">
          <div class="">
            <p class="text-base">
              <% alert.split("\n").each do |message| %>
                <%= message %><br>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
