<!DOCTYPE html>
<html>
  <head>
    <title>OkrIntern</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <header>
    <%= render "layouts/header" %>
  </header>

  <body>
  <% if notice %>
    <div>
      <p class="alert alert-success">
        <% notice.split("\n").each do |message| %>
          <%= message %><br>
        <% end %>
      </p>
    </div>
  <% end %>

  <% if alert %>
    <div>
      <p class="alert alert-danger">
        <% alert.split("\n").each do |message| %>
          <%= message %><br>
        <% end %>
      </p>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
